html
    header
    body
        h1= title
        #wrapper
            #menu
                each val in menuItems
                    a.menuItem(href= val.url)= val.title
            form(method='POST', action='/register')
                Name: input(
                    type='text',
                    name='name',
                    placeholder='Full name'
                )
                br
                Username: input(
                    type='text',
                    name='username',
                    placeholder='Username'
                )
                br
                input(
                    type='submit'
                )